<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Invest101 Project_myDona</title>

  <!-- Custom fonts for this theme -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="css/freelancer.min.css" rel="stylesheet">
     <!--메터리얼 아이콘-->
     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body id="page-top">

  <!-- 로그인/회원가입 & 메인메뉴 상단바 Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">   
    <!--메인로고-->
  <div class="container" style="float: left; padding-right:0px; padding-left:0px; height:80px;">
    <div style="padding-left:0px;">
        <a class="navbar-br and js-scroll-trigger" href="main"><img src="/img/invest_logo (3).png" width="100px" height="100px"   alt="invest101" ></a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
    </div>

    <!--메인 메뉴-->          
    <div class="collapse navbar-collapse" id="navbarResponsive" style="text-align: center; font-size:19px; padding-left:120px; padding-right:80px;">
        <ul class="navbar-nav" >
            <li class="nav-item mx-0 mx-lg-1" style="padding-left:8px;">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="donaUse">후원활용</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1" style="padding-left:8px;">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="traineeList">연습생목록</a>
            </li>            
            <li class="nav-item mx-0 mx-lg-1" style="padding-left:5px;">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="donaStatus">후원금현황</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1" style="padding-left:8px;">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="myDona">나의 후원내역</a>
          </li>
        </ul>       
    </div>

      <!--로그인/회원가입--> 
        <div >
            <div>
                <ul class="navbar-nav ml-auto" >          
                    <li class="nav-item mx-0 mx-lg-1" >
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="login" >로그인</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" >/</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="signup">회원가입</a>
                    </li>
                </ul> 
            </div>
            <div>
                <ul class="navbar-nav ml-auto">          
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="login"></a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="signup"></a>
                </li>
                </ul> 
          </div>           
       </div>

  </div> 
</nav>

<!--내 후원내역-->

<br><br><br><br><br><br>
<div class="footer text-center" style="background-color:rgb(255, 255, 255); overflow: hidden; height:auto;">
  <div class="container">
    <div class="row" style="margin-left:150px; color: black;">  
          
      <div>
        계좌목록조회
        <select name='list' id='account'>
  
        </select>
        <br>
        송금 액수 
        <input type="text" id = 'money' numberOnly>
     
   </div>

    <br><br>
    <button type="button" id="okBtn">Enter</button>
    <button type="button" id="cancelBtn">Cancel</button>   
      
    </div>
  </div>
</div>


  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Location</h4>
          <p class="lead mb-0">서울 송파구 중대로 135</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Around the Web</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-facebook-f"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#portfolio">
            <i class="fab fa-fw fa-twitter"></i>
          </a>
         
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">About Invest101</h4>
          <p class="lead mb-0">Invest101 is a free to use, this service created by fintech academy </p>
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Invest101 2020</small>
    </div>
  </section>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

 
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/freelancer.min.js"></script>


  <!--후원하기 -->
  <script>
    function getQueryStringObject() {
		var a = window.location.search.substr(1).split('&');
		if (a == "") return {};
		var b = {};
		 for (var i = 0; i < a.length; ++i) {
			var p = a[i].split('=', 2);
			if (p.length == 1)
				b[p[0]] = "";
			else
				b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
			}
			return b;
		}
		var qs = getQueryStringObject();
		var jwtToken = sessionStorage.getItem('jwtToken');
    var dataList;
    var selectedIdx = 0;
    var getParameters = function (paramName) {
            var returnValue;
            var url = location.href;
            // get 파라미터 값을 가져올 수 있는 ? 를 기점으로 slice 한 후 split 으로 나눔
            var parameters = (url.slice(url.indexOf('?') + 1, url.length)).split('&');
            // 나누어진 값의 비교를 통해 paramName 으로 요청된 데이터의 값만 return
            for (var i = 0; i < parameters.length; i++) {
                var varName = parameters[i].split('=')[0];
                if (varName.toUpperCase() == paramName.toUpperCase()) {
                    returnValue = parameters[i].split('=')[1];
                    return decodeURIComponent(returnValue);
                }
            }
        };

        var traineeId = getParameters('id');
        var jwtToken = sessionStorage.getItem('jwtToken');
          $.ajax({
              url: 'http://localhost:3000/user/account/list',
              type: 'post',
                headers: {
                    'x-access-token': jwtToken
                },
                success: function (data) {
                    console.log( data);
                    dataList = data;
                    for(var i = 0; i < data.res_list.length; i ++){
                      $("#account").append("<option>"+"("+data.res_list[i].bank_name+") "+data.res_list[i].account_num_masked+"</option>")
                    }
                }
          })

        $("#cancelBtn").click(function () {
            alert("취소되었습니다.");
            self.close();
        })
  
        $("#okBtn").click(function () {
            //selectedIdx = $("#account option:selected");
            console.log("선택한 인덱스: "+ selectedIdx);
            var tran_amt = $("#money").val();      
            var finUseNum = dataList[selectedIdx].fintech_use_num
            var bankCode = dataList[selectedIdx].bank_code_sub
            $.ajax({
                url: 'http://localhost:3000/user/account/donation',
                type: 'post',
                headers: {
                    'x-access-token': jwtToken
                },
                data: {
                    tran_amt: tran_amt,
                    trainee_id: traineeId,
                    fin_use_num : finUseNum,
                    bank_code : bankCode
                },
                success: function (data) {
                    console.log("traineeid: " + data);
                    alert(traineeId + "에게 " + account_num + "계좌에서 " + tran_amt + "원이 후원되었습니다.");
                }
            })
        })

  </script>
</body>
</html>
